#admin-titles-list {
  background-color: yellow;
}

#comicgrid-sidebar {

  padding: .5em 0 0 .5em;
  border: 1px solid #ccc;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 300px;

  & .issue-box {
    width: calc((100% / 7) - 6px );
    margin: 0 .4em .4em 0;
    padding: .5em;
    border: 1px solid #ccc;
    float: left;
    color: #a5a5a5;

    &.own {
      background-color: $artPrimaryColor-5;
    }

  }
}

#crud {

  display: table;
  width: 100%;

  & .crud-table-row {
    display: table-row;
    padding: .5rem;

    & div {
      text-align: center;
      display: table-cell;
      padding: .5rem;
      margin: .5rem;
    }

  }
}

.debug {
  padding: 1.1rem;
  background-color: #c9c9c8;

  & .error {
    background-color: pink;
  }
}