/* ==========================================================================
   Author's custom styles
========================================================================== */


/* Imports */
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@import "palette";
@import "development";
@import "admin";
@import "issuesGrid";

$primary: $artPrimaryColor-1;
$info: $artPrimaryColor-3;
$warning: $artPrimaryColor-5;
$danger: $artPrimaryColor-2;

$font-size-base: .75rem;

$lead-font-size: 1rem;
$lead-font-weight: 500;

$card-cap-bg: lighten($artPrimaryColor-5,5);
$breadcrumb-bg: lighten($artPrimaryColor-5,5);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


/* Links */
a:link {
  text-decoration: none;
}
a:hover {
  color: $artColor2;
  text-decoration: none;
}

/* General */

span.mandatory-field-marker {
  fonts-weight: bold;
  color: $artPrimaryColor-2;
}


.page-header {
  margin: 0 0 3em 0;

  & .header {
    margin: 2em 0;
    color: $artPrimaryColor-2;
  }
}

.footer {
  padding: 1rem;
  margin: .3rem 0;
  background-color: lighten($artPrimaryColor-5,5);
}

#left-menu {

  overflow: auto;
  height: 75vh;
  border-bottom: 1px solid $artGrey-1;;
  border-top: 1px solid $artGrey-1;

  /* Menu */
  & .left-menu-table {


    & .title-icon-open {
      width: 40px;
    }

    & .title-icon-closed {
      width: 40px;
    }

    & .title-name-open {

      font-weight: bold;
      font-size: 1.1em;
    }

    & .title-name-closed {

      font-size: 1.1em;
    }

    & .title-series {}
  }

}

/* Series grid */
#main-top {
  overflow: auto;
  margin-bottom:1em;

  & .stats {
    padding: 1em 0;
  }

  & .lastupdate {
    padding: 1em 0;
  }

  #comicgrid {
    padding: .5em 0 0 .5em;
    border: 1px solid #ccc;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    overflow: auto;
    max-height: 300px;
  }

  .issue-box {
    width: calc((100% / 12) - 7px);
    margin: 0 .5em .5em 0;
    padding: .5em;
    background-color: #dadada;
    float: left;
    color: #a5a5a5;

    &.own {
      background-color: $artPrimaryColor-5;
    }
  }

}

/* Issue table */
.issue-table {

  width: 100%;

  & td.issue-key {
    padding: .9em;
    text-align: right;
    font-weight: bold;
    width:20%;
  }

  & td.issue-val {
    padding: .9em;
    text-align: left;
  }
}

hr.clear-row {
  margin: 0;
  padding: 0;
  clear: both;
  background: $artWhite;
}

/* Admin Container */
.admin-container {
  width: 960px;
  margin: auto;
  padding-top: 50px;
}

.title {font-weight: bold;}
